@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

@import url("https://use.typekit.net/mne0dwl.css");

html {
    background-color: white;
    /* font-size:14px; */
    font-family: 'Futura', sans-serif;
    /* margin: 2%; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
    height: 10vw;
}

h1{
    font-family: 'Nova Flat', cursive;
    font-size:8vw;
    margin: 0% 2%;
    width: 70%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#index-navigation {
    font-family: 'Nova Flat', cursive;
    font-size:2vw;
    margin: 0% 2% 0 2%;
    line-height: 2;
    text-align: end;
}

#index-navigation a:hover{
    font-size:2.1vw;
}

.selected{
    background-color: blue;
    color:white;
}

#intro{
    
    /* margin:2% 2% 2% 2%;
    font-size: 1.5vw; */
    position: fixed; /* Fixes it to the viewport */
    bottom: 1em;     /* Positions it 1em from the bottom */
    left: 1em;       /* Positions it 1em from the left */
    max-width: 70vw; /* Limit width to keep it compact */
    
    padding: 1%;
    
    font-size: 1.5vw;
    color: #333;
    line-height: 1.5;
}

/* Mobile Adjustments */
@media (max-width: 600px) {
    header{
        display:block;
    }
    nav{
        padding:2% 0;
    }
    #index-navigation {
        text-align:left;
    }
    #intro {
        font-size: 2.5vw; /* Adjust font size for mobile */
        bottom: 12em;
        left: 1em;
    }
}